<div class="container mx-auto bg-gray-400 h-96 rounded-md flex items-center">
      <div class="sm:ml-20 text-gray-50 text-center sm:text-left">
        <h1 class="text-5xl font-bold mb-4">Welcome to Beauty Circle</h1>
        <p class="text-lg inline-block sm:block">where you will find all beauty salons in Macedonia in one place.</p>
        <%= link_to "Browse salons", root_path, class:"inline-flex items-center justify-center w-full h-12 mt-8 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-gray-500 hover:bg-gray-600 focus:shadow-outline focus:outline-none"%>
      </div>
</div>